/.idea/
/profsouz-test-task.iml
/profsouz-test-task-frontend/profsouz-test-task-frontend.iml
/profsouz-test-task-middleware/profsouz-test-task-middleware.iml
/profsouz-test-task-middleware/node_modules/
